body {
    margin: 0;
    padding: 0;
    background-image: url(../dist/icons/71aa11009fb546b4915e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search_field {
    align-self: center;
    margin-top: 20px;
    margin-right: 150px;
    padding: 7px;
    padding-left: 10px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    border-radius: 7px;
    color: white;
    font-size: .9rem;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 550px;
    left: -150px;
}

img {
    height: 200px;
    width: 200px;
    margin-top: 180px;
    position: relative;
    left: 700px;
}

.details {
    position: relative;
    left: 750px;
    font-size: 5rem;
    color: white;
    margin-top: 40px;
}

.sub-details {
    font-size: 1rem;
    height: 60px;
    width: 120px;
    line-height: 23px;
}

.city {
    color: white;
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
}