body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/images/universe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#search_field {
    align-self: center;
    margin-top: 15px;
    padding: 7px;
    padding-left: 10px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    border-radius: 7px;
    color: white;
    font-size: .9rem;
}